// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";
@import "../pages/listen/listen.scss";
@import "../pages/play/play.scss";


@keyframes heartbeat {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

.pulse {
  animation: heartbeat infinite 1s;
}

@keyframes appear {
  from {
    transform: scale(2);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.appear {
  animation: appear .2s;
}
