<!--
  Generated template for the ListenPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar primary>
    <ion-title>Entrenar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let category of sounds">

      <ion-item-divider light>{{category.name}}</ion-item-divider>
      <audio-track #audio *ngFor="let track of category.sounds" [track]="track">
        <ion-item text-wrap>
          <audio-track-play-stop item-left light [audioTrack]="audio">
            <ion-spinner></ion-spinner>
          </audio-track-play-stop>

          <h3 *ngIf="!audio.error">{{track.name}}</h3>
          <del *ngIf="audio.error">{{track.name}}</del>
          <ion-note>
            <audio-track-progress *ngIf="audio.isPlaying" [audioTrack]="audio"></audio-track-progress>
            <span *ngIf="!audio.isPlaying" >00:00 / 00:00</span>
          </ion-note>
        </ion-item>
      </audio-track>
    </ion-item-group>
  </ion-list>
</ion-content>
